.carouselText{
    //display: flex;
    width: 50%;
    .text-title{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 50px;
        line-height: 40px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 12px rgb(217 216 218 / 80%);
        padding: 10px;

    }
    .text-content{
        color: #fff;
        padding: 10px;

    }
}