.newRoadmap {
    margin-top: 340px;
    h2 {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 50px;
      line-height: 40px;
      font-weight: 700;
      font-family: "Hanson", sans-serif;
      text-shadow: 0 0 12px rgb(217 216 218 / 80%);
      color: #fff;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    .roadmapDetails {
      //background-color: #0000;
      background: url(/assets/Roadmap.jpg);
      //background-position: bottom;
      background-position: center;
      //background-size: cover;
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 100vh;
      //padding: 100px 15px;
      padding: 100px 0px;
      
    }
  
    /* responsive */
    @media screen and (min-width: 280px) and (max-width: 767px) {
      h2 {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 767px) and (max-width: 1024px) {
    }
}
  