.team {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem ;
  .team-container{
    justify-content: center;
    align-items: center;
    .title-container{
      justify-content: center;
      align-items: center;
      display: flex;
      padding-bottom: 3rem;
      .title{
      
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 50px;
      line-height: 40px;
      font-weight: 700;
      font-family: 'Hanson', sans-serif;
      text-shadow: 0 0 12px rgb(217 216 218 / 80%);
      color: #fff;
      }
    }
    .team-section{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 8rem;
      justify-content: center;
      align-items: center;
      .team-card{
        .card-image{

          .team-image{
          display: flex;
          max-width: 180px;
          min-height: 200px;
          min-width: 180px;
          }
  
        }

        .team-info{
          .card-series{
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: 'Hanson', sans-serif;
            color: #fff;
            font-size: 20px;
            line-height: 20px;
            text-shadow: 0 0 12px rgb(217 216 218 / 80%);
            text-transform: uppercase;
            padding-top: 1rem;
            padding-bottom: 5px;
            font-weight: bold;
          }
          .card-title{
            font-family: 'Hanson', sans-serif;
            color: #fff;
            text-transform: uppercase;
          }
        }
      }
      
    }
  }
}

@media screen and (max-width: 539px) {
  .team {
    .team-container{

      .title-container{

        .title{

        }
      }
      .team-section{
        padding-left: 40px;
        grid-template-columns: 1fr;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        .team-card{
          .card-image{
  
            .team-image{

            }
    
          }
  
          .team-info{
            .card-series{

            }
            .card-title{

            }
          }
        }

      }
    }
  }
}
@media screen and (min-width: 540px) and (max-width: 1150px) {
  .team {
    .team-container{

      .title-container{

        .title{

        }
      }
      .team-section{
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        .team-card{
          .card-image{
  
            .team-image{

            }
    
          }
  
          .team-info{
            .card-series{

            }
            .card-title{

            }
          }
        }

      }
    }
  }
}
