.landing{
    height: 100vh;
    position: relative;
    .container{
        .video{
            width: 100vw;
            height: 100vh;
            -o-object-fit: cover;
            object-fit: cover;
            background: #161616;
            -webkit-user-select: none;
        }
    }
}

.container{
    video{
        width: 100vw;
        height: 155vh;
        -o-object-fit: cover;
        object-fit: cover;
        background: #161616;
        -webkit-user-select: none;
    }
}