.discordLogo-wrapper {
  position: fixed;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 24px;
  bottom: 24px;
  /* background-color: black; */
  border-radius: 100%;
  z-index: 100 !important;
  border-color: 1px solid white;
  /* border: 1px solid white; */
  /* padding: 2px; */
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  /* background: #25b190; */
  /* padding: 21px;*/
  &:hover {
    box-shadow: 0 0 12px rgb(217 216 218 / 80%);
    cursor: pointer;
    transition: 0.9s ease-in-out;
  }

}
.iconRotate {
   /* opacity: 1; */
   z-index: 100 !important;
   /* border-radius: 5rem; */
   height: 86px;
   width: 86px;
   /* border: solid 3px transparent; */
   /* background-origin: border-box; */
   /* background-clip: content-box, border-box; */
   transition: 0.5s ease-in-out;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: rotatelogo 5s linear infinite;
   /* padding: 5px; */
   color: white;
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
  img {
    animation: rotatelogo 5s linear infinite;
    z-index: 100 !important;
  }
}

@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
//Ancien css pour le logo discord
// .discordLogo{
//     opacity: 1;
//     z-index: 100;
//     position: fixed;
//     bottom: 5%;
//     right: 5%;
//     height: 4rem;
//     width: 4rem;
//     animation: none;
// }

//pour center le logo discord
.discordLogo {
  position: absolute;
  opacity: 1;
  z-index: 100;
  height: 4rem;
  width: 4rem;
  animation: none;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 100 !important;
}

.discordImg {
  height: 30px;
  margin: auto;
}