.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.faq-wrap{
    
    //width: 900px;
    @media screen and (min-width: 280px) and (max-width: 1080px) {
        padding-left: 2rem;
        padding-right: 2rem ;
    }
    @media screen and (min-width: 1080px) and (max-width: 1800px) {
        padding-left: 2rem;
        padding-right: 2rem ;
    }
}

.item{
    background-color: bisque;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.faq-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Hanson, sans-serif;
    color: #fff;
    font-size: 50px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 10px;
    text-align: center;
    @media screen and (min-width: 280px) and (max-width: 700px) {
        font-size: 15px;
    }

}

.faq-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-right: 14px;
    padding-bottom: 10px;
    cursor: pointer;
}

.faq-top:hover{
    h2{
        text-shadow: 0 0 12px rgb(217 216 218 / 80%);
    }
    span{
        text-shadow: 0 0 12px rgb(217 216 218 / 80%);
    }
}

.faq-content{
    color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    padding-left: 10px;
    padding-right: 14px;
}

.faq-content.show{
    height: auto;
    max-height: 99px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    padding-left: 10px;
    padding-right: 14px;
    padding-bottom: 15px;
    @media screen and (min-width: 280px) and (max-width: 700px) {
        font-size: 12px;
    }
}

.faq-top span{
    color: #fff;
    font-size: 40px;
}

.faq-bottom{
    height: 2px;
    background-color: #060712;
    background-image: linear-gradient(135deg, #fff, #be3a39);
    padding-left: 10px;
    padding-right:14px;
    margin-left: 10px;
    margin-right:14px;
}


.faq-section{
    // padding-left: 4rem;
    // padding-right: 4rem ;
    // @media screen and (min-width: 280px) and (max-width: 1080px) {
    //     padding-left: 4rem;
    //     padding-right: 4rem ;
    // }
    padding-top: 9rem;
    padding-bottom: 7rem;
}
.faq-container{
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    // background: url(/assets/roadmap_gg.png);
    // background-position: bottom;
    // background-size: cover;
    // background-repeat: no-repeat;
}

.faq-title-wrapper{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Hanson, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 10px;
    @media screen and (min-width: 280px) and (max-width: 700px) {
        font-size: 15px;
        text-align: left;
    }
}

.faq{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 40px;
    font-weight: 700;
    text-shadow: 0 0 12px rgb(217 216 218 / 80%);
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    .faq-section{
        .faq-container{
            justify-content: center;
            align-items: center;
            margin: 2rem 0;
            background: url(/assets/background_gg.jpg);
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .faq-section{
        .faq-container{
            justify-content: center;
            align-items: center;
            margin: 2rem 0;
            background: none;
            //background-position: bottom;
            //background-size: cover;
            //background-repeat: no-repeat;
        }
    }
    
  }